

.system-sans { font-family: $system-sans; }
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

// theme

.t-title-bold { font-family: $t-title; font-weight: 700; line-height: 28px; }
.t-title { font-family: $t-title; }
.t-body { font-family: $t-body; }
