@each $i, $value in $heights {
  .h#{$i} {
    height: $value;
  }
}

@each $modifier, $breakpoint in $grid-breakpoints {
  $infix: breakpoint-infix($modifier, $grid-breakpoints);
  @include breakpoint-up($modifier, $grid-breakpoints) {
    @each $i, $value in $heights {
      .h#{$i}-#{$infix} {
        height: $value;
      }
    }


  }
}


.vh-100 {
  height: 100vh;
}

.mvh-100 {
  min-height: 100vh;
}
