/* stylelint-disable */

.system-sans { font-family: $system-sans; }
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

// theme

.title-font { font-family: $title-font; }
.normal-font { font-family: $normal-font; }
