// typography

// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/roboto-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/roboto-v30-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/roboto-v30-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/roboto-v30-latin-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/roboto-v30-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/roboto-v30-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/roboto-v30-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/roboto-v30-latin-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

/* play-regular - latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/play-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/play-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/play-v17-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/play-v17-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/play-v17-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/play-v17-latin-regular.svg#Play')
      format('svg'); /* Legacy iOS */
}

/* play-700 - latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/play-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/play-v17-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/play-v17-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/play-v17-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/play-v17-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/play-v17-latin-700.svg#Play')
      format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-mono-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/roboto-mono-v23-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/roboto-mono-v23-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/roboto-mono-v23-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Archive';
  src: url('/fonts/archive.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$system-sans: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  'Ubuntu', 'Roboto', 'Noto', 'Segoe Ui', Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$mono: 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', monospace;
$sans: sans-serif;
$serif: serif;
$archive: 'Archive', serif;

$t-primary: 'Roboto Mono', monospace;
$t-secondary: 'Roboto Mono', monospace;

$typography-base-size: 16px !default;
$typography-base-weight: 400 !default;

$typography-title: $system-sans !default;
$typography-body: $system-sans !default;
$typography-input: $system-sans !default;

$type-scale: (
  f-headline: calc(6rem - 10%),
  f-subheadline: calc(5rem - 10%),
  f1: calc(3rem - 10%),
  f2: calc(2.25rem - 10%),
  f3: calc(1.5rem - 10%),
  f4: calc(1.25rem - 10%),
  f5: calc(1rem - 10%),
  f6: calc(0.875rem - 10%),
  f7: calc(0.75rem - 10%),
  f8: calc(0.6rem - 10%),
) !default;

// colors

:root {
  --black: #000000;
  --almost-black: #111111;
  --darker-grey: #222222;
  --dark-grey: #343434;
  --mid-grey: #555555;
  --grey: #777777;
  --silver: #999999;
  --light-silver: #aaaaaa;
  --moon-grey: #cccccc;
  --light-grey: #eeeeee;
  --almost-white: #f5f5f5;
  --white: #f5f5f5;
  --blue: #096dff;
  --red: #ff471a;
  --green: #339933;
  --primary-color: #00c4b4;
  --secondary-color: #ff00cd;
  --info-color: #6697f4;
  --creations-black: #1c1c1c;
  --rendah-red: #e9393f;
  --rendah-yellow: #fab658;
}

// [data-theme='dark'] {
//   --black: #ffffff;
//   --dark-grey: #ffffff;
//   --grey: #777777;
//   --light-grey: #343434;
//   --white: #343434;
// }

$colors: (
  black: --black,
  almost-black: --almost-black,
  darker-grey: --darker-grey,
  dark-grey: --dark-grey,
  mid-grey: --mid-grey,
  grey: --grey,
  silver: --silver,
  light-silver: --light-silver,
  moon-grey: --moon-grey,
  light-grey: --light-grey,
  almost-white: --almost-white,
  white: --white,
  blue: --blue,
  red: --red,
  green: --green,
  primary-color: --primary-color,
  secondary-color: --secondary-color,
  info-color: --info-color,
  creations-black: --creations-black,
  rendah-red: --rendah-red,
  rendah-yellow: --rendah-yellow,
) !default;

$body-color: var(--almost-black) !default;
$body-background-color: var(--white) !default;

// grid

$container-width: 1080px !default;
$container-gutter: 24px !default;
$columns: 24 !default;

$grid-breakpoints: (
  sm: 650px,
  md: 950px,
  lg: 1250px,
  xl: 1550px,
) !default;

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
}

/* iphone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}

/* iphone XR, 11 */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}

// spacing

$spacings: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  6: 8rem,
  7: 16rem,
) !default;
