// Vendor before config
@import 'vendor/normalize';

// Config
@import 'functions';
@import 'mixins';
@import 'vars';
@import 'utilities';

// Vendor after config
@import 'vendor/next-pattern-library';
@import 'vendor/nprogress';
@import 'vendor/react-dropzone';
// @import 'vendor/snipcart';

// Elements
// @import 'elements/next-pattern-library/button';
// @import 'elements/next-pattern-library/copy';
// @import 'elements/next-pattern-library/heading';
// @import 'elements/next-pattern-library/image';
// @import 'elements/next-pattern-library/label';
// @import 'elements/next-pattern-library/input';
// @import 'elements/next-pattern-library/checkbox';
// @import 'elements/next-pattern-library/radio';
// @import 'elements/next-pattern-library/icon';

@import 'elements/custom/search-bar';

// Modules
// @import 'modules/next-pattern-library/avatar';
@import 'modules/next-pattern-library/card';
@import 'modules/next-pattern-library/hero';
// @import 'modules/next-pattern-library/modal';
@import 'modules/next-pattern-library/tabs';

@import 'modules/custom/cookie-banner';
@import 'modules/custom/rich-text';
@import 'modules/custom/theme';
@import 'modules/custom/subscribe-banner';
@import 'modules/custom/header';
@import 'modules/custom/footer';
@import 'modules/custom/layout';
@import 'modules/custom/form';
@import 'modules/custom/profile';

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: var(--black);
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: var(--grey);
}

//

.carousel-arrow--left {
  position: absolute;
  top: 35%;
  left: -25px;
  cursor: pointer;
}

@include breakpoint-up(md) {
  .carousel-arrow--left {
    left: -30px;
  }
}

.carousel-arrow--right {
  position: absolute;
  top: 35%;
  right: -25px;
}

@include breakpoint-up(md) {
  .carousel-arrow--right {
    right: -30px;
  }
}

///

.ccc {
  position: relative;
  overflow: hidden;
}

.ccc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #b8b8b8;
  margin-top: 10px;
  z-index: 9999;
  text-align: center;
  position: relative;
  left: 4px;
}

.marker.active {
  background: #5bd040;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}
i.fa.fa-check {
  display: none;
}
i.fa.fa-check.active {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
  color: #fff;
}

.ccc:before {
  left: 19px;
  width: 2px;
}
.timeline-block {
  width: 100%;
  margin-bottom: 30px;
}
.timeline-block-right {
  float: none;
}

.timeline-block-left {
  float: none;
  direction: ltr;
}
