// // Vendor before config
// @import 'vendor/normalize';

// // Config
// @import 'functions';
// @import 'mixins';
// @import 'vars';
// @import 'utilities';

// // Vendor after config
// // @import 'vendor/next-pattern-library';
// @import 'vendor/react-dropzone';
// @import 'vendor/h5-audio-player';
// // @import 'vendor/fontawesome';

// // Elements
// @import 'elements/button';
// @import 'elements/copy';
// @import 'elements/heading';
// @import 'elements/image';
// @import 'elements/label';
// @import 'elements/input';
// @import 'elements/checkbox';
// @import 'elements/radio';
// @import 'elements/icon';
// @import 'elements/search-bar';

// // Modules
// @import 'modules/accordion';
// @import 'modules/avatar';
// @import 'modules/card';
// @import 'modules/hero';
// @import 'modules/modal';
// @import 'modules/tabs';
// @import 'modules/audio';
// @import 'modules/article';
// @import 'modules/cookie-banner';
// @import 'modules/rich-text';
// @import 'modules/theme';
// @import 'modules/subscribe-banner';
// @import 'modules/header';
// @import 'modules/footer';
// @import 'modules/layout';
// @import 'modules/form';
// @import 'modules/profile';
// @import 'modules/product';
// @import 'modules/dominion';
// @import 'modules/timeline';
// @import 'modules/creations';
// @import 'modules/link-in-bio';

// .dominion-cards {
//   top: 0;
//   left: 0;
//   width: 100%;
//   display: none;
//   opacity: 0;
// }

// .dominion-cards--active {
//   display: block;
//   opacity: 1;
// }

// .dominion-modal-wrapper {
//   top: 0;
//   left: 0;
//   width: 100%;
//   display: none;
//   opacity: 0;
// }

// .dominion-modal-wrapper--active {
//   display: block;
//   opacity: 1;
// }

// //

// .navigation-wrapper {
//   position: relative;
// }

// // .keen-slider__slide {
// //   transform: none !important;
// // }

// html,
// body {
//   transition: background-color 0.3s ease;
//   background-color: #f5f5f5; /* Default light mode color */
// }

// html.dark-mode,
// body.dark-mode {
//   background-color: #1c1c1c; /* Dark mode color */
// }

// // .dark-mode {
// //   .header * {
// //     color: red !important;
// //     background-color: red !important;
// //     fill: red !important;
// //   }
// // }

:root {
  --rendah-red: #e9393f;
  --rendah-yellow: #fab658;
}

@import 'vendor/toast';
@import 'vendor/nprogress';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin (100) */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/RobotoMono-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/RobotoMono-ThinItalic.ttf') format('truetype');
}

/* ExtraLight (200) */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/RobotoMono-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/RobotoMono-ExtraLightItalic.ttf') format('truetype');
}

/* Light (300) */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/RobotoMono-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/RobotoMono-LightItalic.ttf') format('truetype');
}

/* Regular (400) */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RobotoMono-Italic.ttf') format('truetype');
}

/* Medium (500) */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/RobotoMono-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/RobotoMono-MediumItalic.ttf') format('truetype');
}

/* Bold (700) */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/RobotoMono-BoldItalic.ttf') format('truetype');
}

* {
  font-family: 'Roboto Mono', monospace;
}

/* Define default neutral palette as CSS variables */
:root {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #212121;
  --neutral-900: #171717;
}

/* Inverse palette applied when .inverse is on a high-level element */
html.inverse,
body.inverse,
.inverse {
  --neutral-50: #171717;
  --neutral-100: #171717;
  --neutral-200: #262626;
  --neutral-300: #404040;
  --neutral-400: #525252;
  --neutral-500: #737373;
  --neutral-600: #737373;
  --neutral-700: #a3a3a3;
  --neutral-800: #d4d4d4;
  --neutral-900: #fafafa;

  // .brightness-75 {
  //   filter: brightness(1);
  // }
}

h1 {
  font-size: 1.125rem !important; /* text-lg */
  line-height: 1.75rem !important;
  color: var(--neutral-300) !important;
}

h2 {
  font-size: 1rem !important; /* text-base */
  line-height: 1.5rem !important;
  color: var(--neutral-400) !important;
}

h3 {
  font-size: 0.875rem !important; /* text-sm */
  line-height: 1.25rem !important;
  color: var(--neutral-500) !important;
}

h4 {
  font-size: 0.75rem !important; /* text-xs */
  line-height: 1rem !important;
  color: var(--neutral-500) !important;
}

h5 {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: var(--neutral-500) !important;
}

h6 {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: var(--neutral-500) !important;
}

html,
body {
  background-color: var(--neutral-800);
}

.rich-text * {
  color: var(--neutral-400);
}

.rich-text p strong {
  color: var(--neutral-300);
}

.rich-text li {
  margin-left: 10px;
}

.rich-text-spacing {
  p {
    margin-bottom: 14px;
  }
}

.underline {
  text-decoration: underline !important;
  text-decoration-thickness: 0.5px !important;
  text-underline-offset: 4.5px !important;
}
