.btn {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn--primary {
  @extend .ph3;
  @extend .pv2;
  @extend .f6;
  @extend .br2;
}

.btn:disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
