.button {
  opacity: 0;
  animation: npl-fade-in 0.3s forwards;
  transition: all $npl-button-transition-speed $npl-button-transition-ease;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: transparent;
  box-shadow: none;
  outline: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 50px;
  font-family: $npl-t-secondary;

  &::after {
    transition: opacity $npl-button-transition-speed $npl-button-transition-ease;
    opacity: 0;
  }

  .button__icon__wrapper {
    display: flex;
    align-items: center;
  }

  &.small {
    font-size: $npl-f6;

    .button__icon {
      width: 14px;
    }
  }

  &.medium {
    font-size: $npl-f5;

    .button__icon {
      width: 16px;
    }
  }

  &.large {
    font-size: $npl-f4;

    .button__icon {
      width: 18px;
    }
  }

  &.x-large {
    font-size: $npl-f3;

    .button__icon {
      width: 20px;
    }
  }

  .button__icon,
  .button__icon + span {
    transition: transform $npl-button-transition-speed
      $npl-button-transition-ease;
  }

  .button__icon--left {
    margin-right: 7px;
  }

  .button__icon--right {
    margin-left: 7px;
  }
}

.button.primary {
  border: 2px solid $npl-base-black;
  text-align: center;
  border-radius: $npl-button-primary-border-radius;
  padding-left: $npl-button-primary-padding-horizontal;
  padding-right: $npl-button-primary-padding-horizontal;
  padding-top: $npl-button-primary-padding-vertical;
  padding-bottom: $npl-button-primary-padding-vertical;

  .button__icon__wrapper {
    justify-content: center;
  }

  &.small {
    height: 40px;
    min-width: 0px;
  }

  &.medium {
    height: 50px;
    min-width: 100px;
  }

  &.large {
    height: 60px;
    min-width: 200px;
  }

  &.x-large {
    height: 65px;
    min-width: 200px;
  }
}

.button.secondary {
  border: 0;
  text-align: left;
  border-radius: 0px;
  padding-left: 0;
  padding-right: 0;

  &:hover:not(.loading):not(.disabled) {
    .button__icon--right,
    .button__icon--left + span {
      transform: translateX(5px);
    }

    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    transition: all $npl-button-transition-speed $npl-button-transition-ease;
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: $npl-base-black;
  }
}

.button.fluid {
  width: 100%;
}

.button.loading {
  display: flex;
  cursor: default;

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .button__spinner {
    animation: loading 2s linear infinite;
  }

  &.primary {
    justify-content: center;
  }

  &.secondary {
    justify-content: center;
  }
}

.button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@each $color, $hex in $npl-colors {
  .button.primary.button--#{'' + $color} {
    background-color: $hex;
    color: $npl-base-white;
    fill: $npl-base-white;
    border-color: $hex;

    &:hover:not(.loading):not(.disabled) {
      background-color: transparent;
      color: $hex;
      fill: $hex;
    }
  }

  .button.primary.button--#{'' + $color}.inverted {
    color: $hex;
    fill: $hex;
    border-color: $hex;

    &:hover:not(.loading):not(.disabled) {
      background-color: $hex;
      color: $npl-base-white;
      fill: $npl-base-white;
    }
  }

  .button.secondary.button--#{'' + $color} {
    color: $hex;
    fill: $hex;
    border-color: $hex;

    &:after {
      background-color: $hex;
    }
  }
}

.button.primary.inverted {
  background-color: transparent;
}
