.button {
  transition: all 0.3s ease-in-out;
  background: transparent;
  box-shadow: none;
  outline: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  @extend .ph3;
  @extend .flex;
  @extend .align-center;

  &.small {
    @extend .f6;

    .button__icon {
      width: 14px;
    }
  }

  &.medium {
    @extend .f5;

    .button__icon {
      width: 16px;
    }
  }

  &.large {
    @extend .f4;

    .button__icon {
      width: 18px;
    }
  }

  &.x-large {
    @extend .f3;

    .button__icon {
      width: 20px;
    }
  }

  .button__icon,
  .button__icon + span {
    transition: transform 0.3s ease-in-out;
  }

  .button__icon--left {
    margin-right: 7px;
  }

  .button__icon--right {
    margin-left: 7px;
  }
}

.button.primary {
  border: 2px solid var(--black);
  text-align: center;
  display: inline-block;
  border-radius: 3px;

  &.small {
    line-height: 32px;
    height: 35px;
    min-width: 0px;
  }

  &.medium {
    line-height: 41px;
    height: 45px;
    min-width: 100px;
  }

  &.large {
    line-height: 50px;
    height: 55px;
    min-width: 200px;
  }

  &.x-large {
    line-height: 66px;
    height: 70px;
    min-width: 200px;
  }
}

.button.secondary {
  border: 0;
  max-width: 100%;
  min-width: 0;
  text-align: left;
  display: inline-block;
  border-radius: 0px;
  @extend .ph0;

  &:hover:not(.loading):not(.disabled) {
    .button__icon--right,
    .button__icon--left + span {
      transform: translateX(5px);
    }

    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--black);
  }
}

.button.fluid {
  width: 100%;
}

.button.inverted {
  //
}

.button.loading {
  cursor: default;

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .button__spinner {
    animation: loading 2s linear infinite;
  }

  &.primary {
    @extend .flex;
    @extend .justify-center;
  }

  &.secondary {
    @extend .flex;
    @extend .justify-start;
  }
}

.button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@each $color, $hex in $colors {
  .button.primary.#{$color} {
    background-color: var($hex);
    color: var(--white);
    fill: var(--white);
    border-color: var($hex);

    &:hover:not(.loading):not(.disabled) {
      background-color: var(--white);
      color: var($hex);
      fill: var($hex);
    }
  }

  .button.primary.#{$color}.inverted {
    background-color: var(--white);
    color: var($hex);
    fill: var($hex);
    border-color: var($hex);

    &:hover:not(.loading):not(.disabled) {
      background-color: var($hex);
      color: var(--white);
      fill: var(--white);
    }
  }

  .button.secondary.#{$color} {
    &:after {
      background-color: var($hex);
    }
  }
}
