// Wrapper

.image__wrapper {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: var(--almost-white);
}

.image__wrapper:after {
  width: 100%;
  height: 100%;
  position: absolute;
}

// Placeholder

.image__loading {
  transition: all ease-in 0.3s;
  transition-delay: 0.3s;
  opacity: 0;
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image__loading--done {
  opacity: 1;
}

// Image

.image {
  transition: opacity ease-in 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  position: relative;
}

.image--loaded {
  opacity: 1;
}

// Figcaption

.image__figcaption {
  @extend .black;
  @extend .f6;
  @extend .t-secondary;
  @extend .tac;
  @extend .mla;
  @extend .mra;
  @extend .pt3;
}
