body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.App {
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.page-fade-in {
  -webkit-animation: page-fade-in 0.5s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: page-fade-in 0.5s ease-in-out; /* Firefox < 16 */
    -ms-animation: page-fade-in 0.5s ease-in-out; /* Internet Explorer */
     -o-animation: page-fade-in 0.5s ease-in-out; /* Opera < 12.1 */
        animation: page-fade-in 0.5s ease-in-out;
}

@keyframes page-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
