/* stylelint-disable */
.article {
  opacity: 0;
  animation: article 0.4s ease both;
}

.article__hero {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.article__hero--background {
  height: 50vh;
  width: 100%;
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  animation-delay: 0s;
  background-size: cover;
  transform: scale(1.5);
  animation: article__hero--background--zoomIn 0.6s ease both;
}

.article__hero--img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  height: 50vh;
  animation: article__hero--img--zoomIn 0.6s ease both;
}

.article__fb-like {
  max-width: 450px;
  opacity: 0;
  animation: article__fb-like 0.4s ease both;
  animation-delay: 2.2s;
}

.article__content {
  margin-top: 40px;
  animation: article__content--appear 0.4s ease both;
  animation-delay: 0.4s;

  p {
    line-height: 28px;
  }
}
// anims
@keyframes article__hero--background--zoomIn {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}
@keyframes article__hero--img--zoomIn {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes article__fb-like {
  0% {
    opacity: 0;
    margin-left: -15px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes article {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes article__content--appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
// Sections
.Article__link--span {
  vertical-align: super;
}
