/* stylelint-disable */

.weekArticleList__col--week {
  height: 310px;
}

.weekArticleList__col--search {
  height: auto;
}

.weekArticleList__col--leaving {
  animation: weekArticleList__img--zoomOut 0.2s ease both, weekArticleList__cont--fadeOut 0.2s ease both;
  }

.weekArticleList__img--cont {
  height: 250px;
}

.weekArticleList__img {
  height: 250px;
  object-fit: cover;
}

.weekArticleList__title--cont {
  left: 30px;
  bottom: 60px;
}

.weekArticleList__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
