/* stylelint-disable */
  .authorCard__cont {
    min-height: 150px;
  }

  .authorCard__img--cont {
    height: 120px;
    overflow: hidden;
    @media only screen and (max-width: $md - 1px) {
      height: 300px;
    }
  }

  .authorCard__img {
    height: 120px;
    width: 100%;
    object-fit: center;
    object-position: top;

    @media only screen and (max-width: $md - 1px) {
      height: 300px;
    }
  }

  .authorCard__social-link {
    line-height: 30px;
  }
