.authorList__col {
  height: 310px;
  @include breakpoint-up(md) {
    width: 50%;
  }
  @include breakpoint-up(sm) {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.authorList__img--cont {
  height: 200px;
  overflow: hidden;
}

.authorList__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.authorList__title {
  line-height: 22px;
  @include breakpoint-up(sm) {
    margin: 0 auto;
    text-align: center;
  }
}
