/* stylelint-disable */
  .author__cont {
    min-height: 170px;
  }

  .author__img--cont {
    height: 135px;
    overflow: hidden;
    @media only screen and (max-width: $md - 1px) {
      height: 300px;
    }
  }

  .author__img {
    height: 135px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media only screen and (max-width: $md - 1px) {
      height: 300px;
    }
  }

  .author__social-link {
    line-height: 30px;
    vertical-align: text-bottom;
  }

  .author__social-link--icon {
    margin-top: 8px;
    height: 28px;
    width: auto;
  }
