.CategoryGrid__bg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 150%;
}

.CategoryGrid__bg--1 {
  background-position: left top;
}

.CategoryGrid__bg--2 {
  background-position: center top;
}

.CategoryGrid__bg--3 {
  background-position: right top;
}

.CategoryGrid__title {
  width: 160px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
