/* stylelint-disable */
.CategoryGrid__bg {
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.CategoryGrid__title {
  width: 160px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
