/* stylelint-disable */

.footer {
  height: 50px;
}

.footer__ul {
  list-style: none;
  display: block;
  @media only screen and (max-width: $md) {
    margin: 0 auto;
    text-align: center;
  }

  li {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
  }
}
