

.footer {
  height: 50px;
}

.footer__social {
  float: right;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: $sm - 1px) {
    width: 100%;
  }
}

.footer__social__item {
  align-self: center;
  padding-top: 4px;

  img {
    width: 30px;
    height: auto;
    @media only screen and (max-width: $sm - 1px) {
      text-align: center;
      margin: 0 auto;
    }
  }
}
