/* stylelint-disable */

header {
  height: 90px;
  width: 100%;
  @media only screen and (max-width: $md - 1px) {
    height: 126px;
  }
}

.logo {
  width: 60px;
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 15px;
  left: 15px;
  @media only screen and (max-width: $sm - 1px) {
    left: auto;
    right: 15px;
  }
}

.nav {
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 5px;
  left: 85px;
  @media only screen and (max-width: $md - 1px) {
    width: 100%;
    height: 38px;
    top: 88px;
    left: 0;
    right: 0;
    text-align: center;
    background: palette(black);
    color: palette(white);
  }
}

.nav__list {
  @media only screen and (max-width: $md - 1px) {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
  }
}

.nav__link {
  @media only screen and (max-width: $md - 1px) {
    padding-top: 4px;
    font-size: 14px;
    color: palette(white);
    text-transform: uppercase;
  }
}

.header__social--cont {
  float: right;
  display: flex;
  justify-content: center;
  height: 90px;
  padding-right: 15px;
  @media only screen and (max-width: $sm - 1px) {
    padding-bottom: 5px;
    text-align: left;
    float: left;
    padding-left: 15px;
  }
}

.header__social {
  align-self: center;
  padding-top: 4px;

  img {
    width: 30px;
    height: auto;
  }
}
