/* stylelint-disable */
header {
  height: 90px;
  width: 100%;
  @media only screen and (max-width: $md) {
    height: 126px;
  }
}

.logo {
  width: 60px;
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 15px;
  left: 55px;
  @media only screen and (max-width: $md) {
    left: 15px;
  }
}

.nav {
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 5px;
  left: 125px;
  @media only screen and (max-width: $md) {
    width: 100%;
    height: 38px;
    top: 88px;
    left: 0;
    right: 0;
    text-align: center;
    background: palette(black);
    color: palette(white);
  }
}

.nav__list {
  @media only screen and (max-width: $md) {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
  }
}

.nav__link {
  @media only screen and (max-width: $md) {
    font-size: 16px;
    padding-top: 2px;
    color: palette(white);
  }
  @media only screen and (max-width: $xs) {
    padding-top: 4px;
    font-size: 14px;
  }
}

.header__social--cont {
  float: right;
  display: flex;
  justify-content: center;
  height: 90px;

  @media only screen and (max-width: $sm) {
  padding-bottom: 10px;
  }
}

.header__social {
  align-self: center;
}
