.header__desktop {
  top: 0;
  height: 80px;
}

.header__desktop__logo {
  left: 20px;
  top: 15px;
}

.header__desktop__nav__list {
  width: 850px;
  top: 34px;
  left: 0;
  right: 0;
}

.header__desktop__search {
  right: 20px;
  top: 29px;
}

.header__desktop__cart {
  right: 45px;
  top: 29px;
}
