.header__mobile {
  top: 0;
  height: 80px;
}

.header__mobile__logo {
  left: 0;
  right: 0;
  top: 15px;
}

.header__mobile__nav {
  width: 100vw;
  height: 100vh;
  transition: visibility 0.3s, opacity .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.header__mobile__nav--active {
  visibility: visible;
  opacity: 1;
}

.header__mobile__nav__list {
  left: 0;
  right: 0;
  height: 500px;
  top: 25%;
  transform: translate(-50%, -50%);
  transition: transform .3s ease-in-out;
  transform: scale(.5);
}

.header__mobile__nav--active > .header__mobile__nav__list {
  transform: scale(1);
}
