

.header--desktop {
  height: 90px;
  width: 100%;
}

.logo--desktop {
    width: 60px;
  img {

        width: 60px;
    height: auto;
    position: absolute;
    z-index: 2000;
    top: 15px;
    left: 15px;
  }
}

.nav--desktop {
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 5px;
  left: 85px;
  @include breakpoint-up(lg) {
    display: none;
  }

  ul {
    list-style: none;
  }
}

.nav__desktop__category__downArrow {
  transition: all 0.2s ease-in-out;
  position: absolute;
  right: -12px;
  top: 10px;
  font-size: 12px;
  cursor: pointer;
}

.header--desktop__social {
  float: right;
  display: flex;
  justify-content: center;
  height: 90px;
  padding-right: 15px;
}

.header--desktop__social__item {
  align-self: center;
  padding-top: 4px;

  img {
    width: 30px;
    height: auto;
  }
}

.nav__desktop__category {
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 415px;
  top: -5px;
  width: 122px;
  height: 0;
  @extend .br3;

  &:hover {
    top: -5px;
    height: 85px;
    background: palette(white);
    @extend .shadow2;

    .nav__desktop__category__downArrow {
      opacity: 0;
    }

    [data-nav-category] {
      opacity: 1;
      animation: none;
      z-index: 100;

      a {
        width: 122px;
        text-align: left;
      }
    }

    [data-nav-category="1"] {
      top: 0;
      opacity: 0;
      animation: categoryTransition--hover 0.3s forwards;
      animation-delay: 0.1s;
    }

    [data-nav-category="2"] {
      top: 25px;
      opacity: 0;
      animation: categoryTransition--hover 0.3s forwards;
      animation-delay: 0.2s;
    }

    [data-nav-category="3"] {
      top: 50px;
      opacity: 0;
      animation: categoryTransition--hover 0.3s forwards;
      animation-delay: 0.3s;
    }
  }
}

[data-nav-category] {
  z-index: 0;
  padding-top: 5px;
}

[data-nav-category="1"] {
  opacity: 0;
  animation: categoryTransition 6s infinite;
  animation-delay: 0s;
}
[data-nav-category="2"] {
  opacity: 0;
  animation: categoryTransition 6s infinite;
  animation-delay: 2s;
}
[data-nav-category="3"] {
  opacity: 0;
  animation: categoryTransition 6s infinite;
  animation-delay: 4s;
}


@keyframes categoryTransition--hover {
  0%   { opacity: 0; z-index: 0;}
  100%   { opacity: 1;  z-index: 10;}
}


@keyframes categoryTransition {
  0%   { opacity: 0; z-index: 0; }
  5%   { opacity: 1;  z-index: 10; }
  20%   { opacity: 1;  z-index: 10; }
  25%   { opacity: 0; z-index: 0; }
  100% { opacity: 0; z-index: 0; }
}

.header--mobile {
  height: 90px;
  width: 100%;
  position: relative;
}

.header__float-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
}

.header__float-wrapper--searchExpand {
  left: -300px;
}


.header__search-trigger {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.header__menu-trigger {
  position: absolute;
  left: 20px;
  top: 35px;
  width: 20px;
  height: auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.header__menu-trigger--rotated {
  transform: rotate(-90deg);
}

.header__search--mobile {
  position: absolute;
  right: -145px;
  top: 25px;
}

.logo--mobile {
    width: 60px;
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 15px;
  left: 0;
  right: 0;
    margin: 0 auto;
  img {
    width: 60px;

  }
}

.nav--mobile {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
  transition: height .3s ease-in-out;
  overflow: hidden;
  background: palette(white);
}

.nav--mobile--expanded {
  height: 280px;
}
