/* stylelint-disable */

#instaFeed {
  opacity: 0;
  animation: instaFeed 0.4s ease both;
  animation-delay: 2.2s;
}

@keyframes instaFeed {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.instafeed__item {
  @extend .col-xs-8;
  padding: 0;
}

.instafeed__item__caption {
  display: none;
}
