
.Loading {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 50px;

  &--ArticleInfo {
    padding-top: 140px;
    height: 300px;
  }

  &--AuthorArticles {
    padding-top: 140px;
    height: 300px;
  }

  &--AuthorInfo {
    padding-top: 140px;
    height: 300px;
  }

  &--Authors {
    padding-top: 140px;
    height: 300px;
  }

  &--CategoryArticles {
    padding-top: 140px;
    height: 300px;
  }

  &--ExtraArticles {
    padding-top: 140px;
    height: 300px;
  }

  &--LatestArticles {
    padding-top: 140px;
    height: 300px;
  }

  &--SearchArticles {
    padding-top: 140px;
    height: 300px;
  }

  &--WeekArticles {
    padding-top: 140px;
    height: 300px;
  }
}

.Loading span {
  margin: 0 auto;
  background: palette(grey);
  border-color: palette(dark-grey);
  height: 20px;
  width: 8px;
  margin-left: 4px;
  transform-origin: center center;
  animation: 1.5s ease spinner1 999;
}

.Loading .spinner2 {
  animation-delay: 0.1s;
}

.Loading .spinner3 {
  animation-delay: 0.2s;
}
@keyframes spinner1 {
  0%,
  100%,
  50% {
    transform: scaleX(1) scaleY(1);
  }

  25% {
    transform: scaleX(1.2) scaleY(1.6);
    background: palette(dark-grey);
    border: palette(grey);
  }
}
