.searchInput {
  margin: 0 auto;
  width: 110px;
  align-self: center;

  ::placeholder {
    color: palette(dark-grey);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: palette(dark-grey);
  }

  ::-ms-input-placeholder {
    color: palette(dark-grey);
  }
}

.searchInput__form {
  width: 110px;
  display: inline-block;
}

.searchInput__submit {
  background: none;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0;
}

.searchInput__search-icon {
  width: 12px;
  height: auto;
}

.searchInput__input {
  width: 86px;
  display: inline-block;
  border: 0;
  padding-top: 9px;
  -webkit-appearance: none;
  outline: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
