.subscribeBanner {
  margin: 0 auto;
  width: 226px;
  align-self: center;
  padding-top: 8px;

  * {
    color: palette(mid-grey);

    ::placeholder {
      color: palette(mid-grey);
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: palette(mid-grey);
    }

    ::-ms-input-placeholder {
      color: palette(mid-grey);
    }
  }

  form {
    @extend .subscribeBanner__form;
  }

  input {
    @extend .subscribeBanner__input;
  }

  button {
    display: none;
  }

  .message {
    // position: absolute;
    text-align: center;
    padding-top: spacing(2);
    width: 100%;
    text-transform: uppercase;
    color: palette(mid-grey);
    font-size: 12px;
  }
}

.subscribeBanner__form {
  width: 320px;
  display: inline-block;
}

.subscribeBanner__input {
  width: 226px;
  display: inline-block;
  border: 0;
  -webkit-appearance: none;
  outline: none;
  text-align: center;
  background: none;
  text-transform: uppercase;
  @extend .t8;
  color: palette(mid-grey);

  &:focus {
    outline: none;
    // border-bottom: 2px solid black;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
