.article-preview {
  //
}


.article-preview__image-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 1080px;
  max-width: 1080px;
  max-height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-preview__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 1080px;
  max-height: 1080px;
  z-index: 100;
}

.article-preview__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 1080px;
  max-height: 1080px;
  object-fit: cover;
  object-position: center;
  z-index: 99;
}
