.header__desktop {
  top: 0;
  height: 80px;
}

.header__desktop__logo {
  left: 20px;
  top: 15px;
  transition: opacity ease-in 0.3s;
}

.header__desktop__logo--normal {
  opacity: 1;
}

.header__desktop__logo--studio {
  opacity: 0;
}

[data-theme="dark"] {
  .header__desktop__logo--normal {
    opacity: 0;
  }

  .header__desktop__logo--studio {
    opacity: 1;
  }
}

.header__desktop__nav__list {
  width: 850px;
  top: 34px;
  left: 0;
  right: 0;
}

.header__desktop__search {
  right: 20px;
  top: 29px;
}

.header__desktop__cart {
  right: 45px;
  top: 29px;

  .snipcart-summary {
    position: absolute;
    left: auto;
    right: -18px;
    top: 7px;
  }
}
