.cookie-banner {
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  max-width: 90vw;
  background: var(--white);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 1px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  transform: translateY(90px);
  @extend .shadow5;
  @extend .z9;
}

@keyframes cookie-banner--active {
  0% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cookie-banner--active {
  animation: cookie-banner--active 0.3s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

@keyframes cookie-banner--accepted {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(90px);
  }
}

.cookie-banner--accepted {
  animation: cookie-banner--accepted 0.3s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

.cookie-banner__body {
  @extend .t-secondary;
  @extend .f6-md;
  @extend .f7;
  @extend .lh-copy;
}

.cookie-banner__button {
  //
}
