.creations {
  background-color: #1c1c1c;

  .rich-text {
    * {
      color: #cccccc !important;
    }

    strong {
      // background-color: #cccccc !important;
      color: #eeeeee !important;
      // box-shadow: 2px 0 0 #cccccc, -2px 0 0 #cccccc;
    }
  }

  .audio__wrapper {
    border-color: #cccccc;
  }

  .audio__icon * {
    fill: var(--almost-black) !important;
  }

  .rhap_progress-indicator,
  .rhap_volume-indicator,
  .rhap_progress-filled {
    background-color: #cccccc !important;
  }

  .rhap_container {
    background-color: var(--almost-black);
  }

  .article__social-links {
    background-color: var(--almost-black);

    * {
      color: #cccccc;
    }
  }

  .article__author {
    @extend .ba;
    @extend .bw1;
    @extend .bc-almost-white;

    *:not(.label) {
      color: #cccccc;
    }
  }
}

.creations__label-wrapper {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@include breakpoint-up(md) {
  .creations__label-wrapper {
    left: 100px;
    margin: auto;
    text-align: left;
  }
}
