$transitionTimeout: 300ms;

main {
  min-height: calc(100vh - 70px);
}

// Page transition

.page {
  transition: opacity $transitionTimeout;
  opacity: 0;
}

.page-transition-enter {
  .page {
    opacity: 0;
  }
}

.page-transition-enter-active {
  .page {
    opacity: 1;
  }
}

.page-transition-enter-done {
  .page {
    opacity: 1;
  }
}

.page-transition-exit {
  .page {
    opacity: 1;
  }
}

.page-transition-exit-active {
  .page {
    opacity: 0;
  }
}

// Indicator

.loading-indicator-appear,
.loading-indicator-enter {
  opacity: 0;
}

.loading-indicator-appear-active,
.loading-indicator-enter-active {
  opacity: 1;
  transition: opacity $transitionTimeout;
}

// Page

.layout--split {
  @extend .flex;
  @extend .flex-wrap;
}

.layout--split__left {
  height: 100vh;
  background-color: var(--black);

  @extend .col-24;
  @extend .col-12-md;

  .layout--split__left__background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.layout--split__right {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;

  @extend .col-24;
  @extend .col-12-md;
}

@include breakpoint-up(md) {
  .layout--split__right {
    height: 100vh;
    overflow-y: scroll;
  }
}

.layout-standard {
  //
}
