.notifcations__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

@include breakpoint-up(md) {
  .notifcations__icon {
    font-size: 20px;
  }
}

.notifcations__icon.has-unread::after {
  content: '';
  position: absolute;
  top: -6px;
  right: 5px;
  width: 8px;
  height: 8px;
  background: var(--red);
  border-radius: 100%;
}

.notifications__dialog {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  background: var(--white);
  overflow-y: auto;

  @extend .shadow3;
  @extend .ba;
  @extend .bc-light-grey;
  @extend .br3;
}

.notifications__dialog__row {
  @extend .flex;
  @extend .flex-wrap;
  @extend .pv3;
  @extend .bb;
  @extend .bc-light-grey;
}

.notifications__dialog__row:last-of-type {
  border: 0;
}

@include breakpoint-up(md) {
  .notifications__dialog {
    top: 30px;
    right: -10px;
    width: 350px;
    height: 300px;
  }
}

.notifications__dialog.active {
  display: block;
}

.notifications__dialog.empty {
  height: 71px;
  overflow: hidden;
}

.notifications__caret {
  display: none;
  position: absolute;
  top: 27px;
  right: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--white) transparent;

  @extend .z1;
}

.notifications__caret.active {
  display: block;
}

@include breakpoint-up(md) {
  .notifications__caret {
    top: 22px;
    right: 6px;
  }
}
