.www {
  width: 200px;
  height: 260px;
}

.profile__dominion__carousel-item__wrapper {
  height: 260px;
}

.profile__dominion__carousel-item {
  height: 200px;
  width: 200px;
}

.profile__dominion__carousel-item__modal-content {
  max-height: 70vh;
  overflow-y: scroll;
}
