/* stylelint-disable */

.underline-hover {
  border-bottom: 1px solid transparent;
}

.underline-hover:hover,
.underline-hover:focus {
  border-color: currentColor;
}

@each $color, $hex in $colors {
  .#{$color}-hover:hover {
    color: $hex;
  }
}
