/* stylelint-disable */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

// Typography
$system-sans: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Ubuntu', 'Roboto', 'Noto', 'Segoe Ui', Arial, sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$mono: 'Consolas', 'Monaco', monospace;
$sans: sans-serif;
$serif: serif;

// theme

$title-font: 'Roboto', sans-serif;
$normal-font: 'Roboto', sans-serif;

// Colors

$colors: (
  black:              #000000,
  almost-black:       #111111,
  dark-grey:          #333333,
  mid-grey:           #555555,
  grey:               #777777,
  silver:             #999999,
  light-silver:       #aaaaaa,
  moon-grey:          #cccccc,
  light-grey:         #eeeeee,
  almost-white:       #f5f5f5,
  white:              #ffffff,
  rendah-orange:      #ffb84d

  // theme
  // rendah-green:            #4d5d53, // #dark-sage
  // rendah-green-light:      #738678, // #light-sage
  // rendah-pink:             #e0929e, // #pink
  // rendah-pink-light:       #f1b4bc, // #light-pink
  // rendah-blue:             #345766, // #teal
  // rendah-blue-light:       #6e8f9d, // #light-teal
  // rendah-purple:           #735a9c, // #purple
  // rendah-purple-light:     #6a6086  // #light-purple
);


// Breakpoints

$columns: 24;

$grid-breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// Spacings

$spacings: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  6: 8rem,
  7: 16rem
);

// Widths

$max-widths: (
  0: none,
  1: 4rem,
  2: 8rem,
  3: 16rem,
  4: 32rem,
  5: 48rem,
  6: 64rem,
  7: 96rem
);

// Easings

$easings: (
  easeInQuad      : cubic-bezier(0.550, 0.085, 0.680, 0.530),
  easeInCubic     : cubic-bezier(0.550, 0.055, 0.675, 0.190),
  easeInQuart     : cubic-bezier(0.895, 0.030, 0.685, 0.220),
  easeInQuint     : cubic-bezier(0.755, 0.050, 0.855, 0.060),
  easeInSine      : cubic-bezier(0.470, 0.000, 0.745, 0.715),
  easeInExpo      : cubic-bezier(0.950, 0.050, 0.795, 0.035),
  easeInCirc      : cubic-bezier(0.600, 0.040, 0.980, 0.335),
  easeInBack      : cubic-bezier(0.600, -0.280, 0.735, 0.045),
  easeOutQuad     : cubic-bezier(0.250, 0.460, 0.450, 0.940),
  easeOutCubic    : cubic-bezier(0.215, 0.610, 0.355, 1.000),
  easeOutQuart    : cubic-bezier(0.165, 0.840, 0.440, 1.000),
  easeOutQuint    : cubic-bezier(0.230, 1.000, 0.320, 1.000),
  easeOutSine     : cubic-bezier(0.390, 0.575, 0.565, 1.000),
  easeOutExpo     : cubic-bezier(0.190, 1.000, 0.220, 1.000),
  easeOutCirc     : cubic-bezier(0.075, 0.820, 0.165, 1.000),
  easeOutBack     : cubic-bezier(0.175, 0.885, 0.320, 1.275),
  easeInOutQuad   : cubic-bezier(0.455, 0.030, 0.515, 0.955),
  easeInOutCubic  : cubic-bezier(0.645, 0.045, 0.355, 1.000),
  easeInOutQuart  : cubic-bezier(0.770, 0.000, 0.175, 1.000),
  easeInOutQuint  : cubic-bezier(0.860, 0.000, 0.070, 1.000),
  easeInOutSine   : cubic-bezier(0.445, 0.050, 0.550, 0.950),
  easeInOutExpo   : cubic-bezier(1.000, 0.000, 0.000, 1.000),
  easeInOutCirc   : cubic-bezier(0.785, 0.135, 0.150, 0.860),
  easeInOutBack   : cubic-bezier(0.680, -0.550, 0.265, 1.550)
);
