.objf-cover {
  object-fit: cover;
}

.objf-contain {
  object-fit: contain;
}

.objp-center {
  object-position: center;
}

.objp--carousel {
  object-position: center;

  @include breakpoint-up(md) {
    object-position: center 35%;
  }
}
