// Figure

.image__figure {
  // @extend .flex;
  // @extend .justify-center;
  // width: ;
  width: 100%;
  height: 100%;
}

// Wrapper

.image__wrapper {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #aaaaaa;
}

.image__wrapper:after {
  width: 100%;
  height: 100%;
  position: absolute;
}

// Image

.coverImageOld {
  .image {
    transition: opacity ease-in-out 0.3s;
    transition-delay: 0.3s;
    opacity: 0.01;
    object-fit: cover;
    object-position: center 25%;
    width: 100%;
    position: relative !important;
    z-index: 0;
  }

  .image--loaded {
    opacity: 1;
  }

  .image--placeholder {
    z-index: -1;
  }

  // Figcaption

  .image__figcaption {
    position: relative;
    margin-top: 10px;
    font-family: $t-secondary;
    line-height: 1.5;
  }

  .image {
    //
  }
}

// imageObject

.imageObject {
  position: relative;
  width: 100%;
  // height: 100%;
  // width: 100%;

  // img {
  //   height: 100% !important;
  //   width: 100% !important;
  // }

  br {
    display: none;
  }

  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .skeletonNew {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out; /* Smooth 1-second fade-out */
    opacity: 1; /* Initially fully visible */

    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;

    --base-color: #eeeeee;
    --highlight-color: #cccccc;

    background-image: linear-gradient(
      90deg,
      var(--base-color),
      var(--highlight-color),
      var(--base-color)
    );
  }

  .skeletonNew--loaded {
    display: none;
  }

  .skeletonNew--fade {
    opacity: 0; /* Fade out when the image is loaded */
  }

  .image {
    position: absolute; /* Ensure the image overlays the skeleton */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out; /* Smooth 1-second fade-in */
    opacity: 0; /* Initially hidden */
  }

  .image--loaded {
    opacity: 1; /* Fade in when loaded */
  }

  .figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }
}

.imageNew {
  width: 100%;
  height: auto; /* Let height be auto */
}

.imageObject {
  position: relative;
  width: 100%;
  height: auto; /* Let height be auto */
}
