// Figure

.image__figure {
  // @extend .flex;
  // @extend .justify-center;
  // width: ;
  width: 100%;
  height: 100%;
}

// Wrapper

.image__wrapper {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #aaaaaa;
}

.image__wrapper:after {
  width: 100%;
  height: 100%;
  position: absolute;
}

// Image

.image {
  transition: opacity ease-in-out 0.3s;
  transition-delay: 0.3s;
  // transition-delay: 0.3s;
  opacity: 0.01;
  object-fit: cover;
  object-position: center 25%;
  width: 100%;
  position: relative !important;
  z-index: 1;
}

.image--placeholder {
  position: absolute !important;
  opacity: 0.01;
  top: 0;
  left: 0;
  z-index: 0;
}

.image--loaded {
  opacity: 1;
}

// Figcaption

.image__figcaption {
  position: relative;
  margin-top: 10px;
  font-family: $t-secondary;
  line-height: 1.5;
}

.image {
  //
}
