// Wrapper

.input__wrapper {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

// Input

.input {
  width: 100%;
  border: 0;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #777777;
  height: 35px;
  font-size: 16px;
  font-family: $t-secondary;
  line-height: 1.5;
  background: transparent;
  -webkit-appearance: none;
}

.input:focus {
  outline: 0;
}

.input__icon ~ .input {
  padding-left: 25px;
}

.input:disabled,
.input:read-only {
  cursor: not-allowed;
}

// Focus Border

.input ~ .input__focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #777777;
  transition: 0.4s;
}

.input:not(:disabled):not(:read-only):focus ~ .input__focus-border {
  width: 100%;
  transition: 0.4s;
}

// Label

.input__label {
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 9px;
  font-family: $t-secondary;
  line-height: 1.5;
  color: var(--black);
  @extend .f6;
}

.input__icon ~ .input:not(:focus):not(.input--has-value) ~ .input__label {
  left: 25px;
}

.input:focus ~ .input__label,
.input--has-value ~ .input__label {
  bottom: 35px;
  @extend .f7;
}

// Icon

.input__icon {
  position: absolute;
  bottom: 12px;
  left: 2px;
  color: var(--black);
}

.input {
  //
}
