
html {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: $system-sans;
  font-size: 16px;
  font-weight: 400;
  color: palette(almost-black);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  // line-height: 34px;
}

h2, h3, h4, h5, h6 {
  // line-height: 28px;
}

p {
  line-height: 22px;
  margin: 0;
  font-size: 1rem;
}

em {
  &:before {
    content: '"';
  }

  &:after {
    content: '"';
  }
}

figure {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
// input,
// select,
// textarea {
//   font-family: $system-sans;
// }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
