.system-sans {
  font-family: $system-sans;
}

.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

.mono {
  font-family: $mono;
}

.t-primary {
  font-family: $t-primary;
  text-wrap: balance;
  font-weight: 600;
}

.t-secondary {
  font-family: $t-secondary;
}

* {
  font-family: $t-secondary;
}
