.h1 {
  height: 1rem;
}

.h2 {
  height: 2rem;
}

.h3 {
  height: 4rem;
}

.h4 {
  height: 8rem;
}

.h5 {
  height: 16rem;
}

@for $i from 1 through 10 {
  .h-#{$i}0 {
    height: #{$i} + 0%;
  }
}

@each $modifier, $breakpoint in $grid-breakpoints {
  $infix: breakpoint-infix($modifier, $grid-breakpoints);
  @include breakpoint-up($modifier, $grid-breakpoints) {
    .h1-#{$infix} {
      height: 1rem;
    }

    .h2-#{$infix} {
      height: 2rem;
    }

    .h3-#{$infix} {
      height: 4rem;
    }

    .h4-#{$infix} {
      height: 8rem;
    }

    .h5-#{$infix} {
      height: 16rem;
    }

    @for $i from 1 through 10 {
      .h-#{$i}0-#{$infix} {
        height: #{$i} + 0%;
      }
    }
  }
}

.vh-100 {
  height: 100vh;
}

.vh-50 {
  height: 50vh;
}

.mvh-100 {
  min-height: 100vh;
}
