.skeleton {
  &::before {
    content: '';
    transition: opacity 0.15s ease-in;
    opacity: 0;
    position: absolute;
    top: -2px;
    left: -4px;
    display: block;
    width: calc(100% + 8px);
    height: calc(100% + 4px);
    border-radius: 5px;
    z-index: 1070;
    pointer-events: none;
    background: linear-gradient(-90deg, #aaaaaa 0%, #cccccc 50%, #aaaaaa 100%);
    background-size: 400% 400%;
    animation: skeleton-shimmer 1.5s ease-in-out infinite;
  }
}

.skeleton-active {
  &::before {
    opacity: 1;
  }
}
