// ~66 characters
.measure {
  max-width: 30em;
}

// ~80 characters
.measure-wide {
  max-width: 34em;
}

// ~45 characters
.measure-narrow {
  max-width: 20em;
}

@each $modifier, $breakpoint in $grid-breakpoints {
  $infix: breakpoint-infix($modifier, $grid-breakpoints);
  @include breakpoint-up($modifier, $grid-breakpoints) {
    .measure-#{$infix} {
      max-width: 30em;
    }

    .measure-wide-#{$infix} {
      max-width: 34em;
    }

    .measure-narrow-#{$infix} {
      max-width: 20em;
    }
  }
}

// Book paragraph style - paragraphs are indented with no vertical spacing
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps {
  font-variant: small-caps;
}

// Combine this class with a width to truncate text
// (or just leave as is to truncate at width of containing element)
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// List style
.ls-none {
  list-style: none;
}
