.card {
  width: 100%;
  position: relative;
}

.card__image {
  //
}

.card__image--block {
  //
}

.card__contents-wrapper {
  //
}

.card__label-block {
  @extend .mb1;
}

.card__label {
  @extend .pr2;
  @extend .mb1;
}

.card__title {
  @extend .t-primary;
  @extend .f4;
  @extend .mb2;
}

.card__description {
  @extend .f5;
  @extend .mb3;
}

.card__price {
  @extend .f6;
  @extend .mb2;
  @extend .pr2;
  @extend .db;
}

.card__price--has-discount {
  text-decoration: line-through;
}

.card__discount-price {
  @extend .f6;
  @extend .mb2;
  @extend .pr2;
  @extend .db;
}

.card__button-wrapper {
  //
}

// Custom

.card--scroll {
  //
  .card__title {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 5px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(20px);
  }

  .card__title .heading {
    color: var(--white);
  }

  img {
    transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
    filter: brightness(100%);
    transform: scale(1);
  }
}

.card--scroll.in-view {
  .card__title {
    opacity: 1;
    transform: translateY(0px);
  }

  img {
    filter: brightness(65%);
    transform: scale(1.1);
  }
}

@include breakpoint-up(md) {
  .card--scroll.in-view {
    .card__title {
      opacity: 0;
      transform: translateY(10px);
    }

    img {
      filter: brightness(100%);
      transform: scale(1);
    }
  }

  .card--scroll:hover {
    .card__title {
      opacity: 1;
      transform: translateY(0px);
    }

    img {
      filter: brightness(65%);
      transform: scale(1.1);
    }
  }
}
