.hero {
  width: 100%;
  position: relative;
  overflow: hidden;

  .image__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    img {
      filter: brightness(65%);
    }
  }
}

.hero__dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  @extend .pa4;
}

.hero__title {
  max-width: 400px;
  @extend .t-primary;
  @extend .f2;
  @extend .mb3;
}

.hero__description {
  @extend .f5;
  @extend .mb3;
}

.hero__button {
  //
}

.hero__image {
  //
}
