.hero--darken-all {
  .image__wrapper {
    .image {
      filter: brightness(65%);
    }
  }
}

.hero--darken-top {
  background-color: var(--black);

  .hero__image {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(125, 125, 125, 1) 0%,
      rgba(125, 125, 125, 1) 85%,
      rgba(139, 139, 139, 0) 99.9%,
      rgba(255, 255, 255, 0) 100%
    );

    mask-image: linear-gradient(
      to top,
      rgba(125, 125, 125, 1) 0%,
      rgba(125, 125, 125, 1) 85%,
      rgba(139, 139, 139, 0) 99.9%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.hero--cypher .hero__description {
  @extend .measure-wide;
}

.hero__title {
  max-width: 400px;
}

.hero--home .hero {
  height: 100vh;
  max-height: 100vh;
}
