.aspect-ratio {
  position: relative;
  width: 100%;
}

.aspect-ratio--16x9 {
  padding-bottom: 56.25%;
}

.aspect-ratio--4x3 {
  padding-bottom: 75%;
}

.aspect-ratio--1x1 {
  padding-bottom: 100%;
}

.aspect-ratio--3x4 {
  padding-bottom: 133.3333%;
}

.aspect-ratio--2x3 {
  padding-bottom: 150%;
}

.aspect-ratio__object {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
