html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $t-secondary;
  font-size: $typography-base-size;
  font-weight: $typography-base-weight;
  color: $body-color;
  background-color: $body-background-color;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

a:focus {
  outline: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: $t-primary;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  box-shadow: 0;
}
