@each $color, $hex in $colors {
  .#{$color} {
    color: var(--#{$color});
    transition: background-color ease-in 0.3s;
  }

  .bg-#{$color} {
    background-color: var(--#{$color});
    transition: background-color ease-in 0.3s;
  }
}

.bg-transparent {
  background-color: transparent;
  transition: background-color ease-in 0.3s;
}

@each $modifier, $breakpoint in $grid-breakpoints {
  $infix: breakpoint-infix($modifier, $grid-breakpoints);
  @include breakpoint-up($modifier, $grid-breakpoints) {
    @each $color, $hex in $colors {
      .#{$color}-#{$infix} {
        color: var(--#{$color});
        transition: background-color ease-in 0.3s;
      }

      .bg-#{$color}-#{$infix} {
        background-color: var(--#{$color});
        transition: background-color ease-in 0.3s;
      }
    }

    .bg-transparent-#{$infix} {
      background-color: transparent;
      transition: background-color ease-in 0.3s;
    }
  }
}
