.icon {
  //
}

// system

.icon--arrow-prev {
  width: 34px;
  height: 34px;
}

.icon--arrow-next {
  width: 34px;
  height: 34px;
}

.icon--triangle-up {
  width: 22px;
  height: 12px;
}

.icon--triangle-down {
  width: 22px;
  height: 12px;
}

.icon--chevron-up {
  width: 26px;
  height: 17px;
}

.icon--chevron-down {
  width: 26px;
  height: 17px;
}

.icon--chevron-left {
  width: 17px;
  height: 26px;
}

.icon--chevron-right {
  width: 17px;
  height: 26px;
}

.icon--check {
  width: 37px;
  height: 29px;
}

.icon--close {
  width: 30px;
  height: 30px;
}

.icon--kill-circle {
  width: 42px;
  height: 42px;
}

.icon--fullscreen {
  width: 30px;
  height: 30px;
}

.icon--fullscreen-exit {
  width: 30px;
  height: 30px;
}

.icon--attach {
  width: 24px;
  height: 46px;
}

.icon--menu {
  width: 38px;
  height: 26px;
}

.icon--language {
  width: 42px;
  height: 42px;
}

.icon--refresh {
  width: 34px;
  height: 34px;
}

.icon--location {
  width: 30px;
  height: 42px;
}

.icon--add {
  width: 30px;
  height: 30px;
}

.icon--home {
  width: 42px;
  height: 36px;
}

.icon--download {
  width: 30px;
  height: 36px;
}

.icon--upload {
  width: 30px;
  height: 36px;
}

.icon--play {
  width: 24px;
  height: 30px;
}

.icon--favourite {
  width: 42px;
  height: 40px;
}

.icon--like {
  width: 38px;
  height: 34px;
}

.icon--check-square {
  width: 38px;
  height: 38px;
}

.icon--check-circle {
  width: 42px;
  height: 42px;
}

.icon--bookmark {
  width: 30px;
  height: 38px;
}

.icon--bookmark-outline {
  width: 30px;
  height: 38px;
}

.icon--leave-01 {
  width: 38px;
  height: 38px;
}

.icon--leave-02 {
  width: 32px;
  height: 32px;
}

.icon--add-circle {
  width: 42px;
  height: 42px;
}

.icon--help {
  width: 42px;
  height: 42px;
}

.icon--information {
  width: 42px;
  height: 42px;
}

.icon--email-block {
  width: 42px;
  height: 34px;
}

.icon--email {
  width: 42px;
  height: 34px;
}

.icon--phone {
  width: 38px;
  height: 38px;
}

.icon--search {
  width: 37px;
  height: 37px;
}

.icon--calendar {
  width: 50px;
  height: 50px;
}
