.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.object-position-center {
  object-position: center;
}
