.heading {
  @extend .t-primary;
  @extend .bold;
  @extend .dib;

  &.small {
    @extend .f5;
  }

  &.medium {
    @extend .f5;
    @extend .f4-md;
  }

  &.large {
    @extend .f4;
    @extend .f3-md;
  }

  &.x-large {
    @extend .f3;
    @extend .f2-md;
  }
}

$reveal-delay: 0.3s;
$reveal-duration: 1.2s;

.heading--reveal,
.heading--reveal::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: 1;
  animation-duration: $reveal-duration;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.heading--reveal {
  --animation-duration: $reveal-duration;
  --animation-iterations: 1;
  position: relative;
  animation-name: clip-text;
  animation-delay: $reveal-delay;
}

.heading--reveal::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-revealer;
  animation-delay: $reveal-delay;
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
