.fade-in-zoom-in {
  animation: fadeIn .4s ease both, zoomIn .8s ease both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
