.snip-layout.snip-active {
  z-index: 9999;
}

.snipcart-summary {
  left: auto;
  right: -52px;
  top: -23px;
  position: absolute;
}

.snipcart-total-items {
  border-radius: 100%;
  height: 24px;
  width: 24px;
  content: "0";

  @extend .t-title;
  @extend .black;
  @extend .tac;
  @extend .f4;
  @extend .pa1;
  @extend .ma0;
}
