.search-input__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: 0;
  outline: 0;
  @extend .bb;
  @extend .bc-black;
}

.search-input__submit {
  background: none;
  box-shadow: 0;
  border: 0;
  outline: 0;
  right: 0;
}
