.article {
  .audio__wrapper {
    @extend .ba;
    @extend .bw1;
    @extend .bc-black;
    @extend .pa4;
    @extend .br4;
  }

  .audio__icon {
    top: 20px;
    right: -20px;
    display: block;

    @extend .absolute;
    @extend .ba;
    @extend .bw1;
    @extend .bc-black;
    @extend .bg-white;
    @extend .pa2;
    @extend .br-100;
  }
}

.article__youtube * {
  width: 100%;
}

.caption * {
  color: var(--grey) !important;
  font-size: 2rem !important;
  width: 100%;
}

.caption--hero * {
  color: var(--white) !important;
  font-size: 0.65rem !important;
}
