.card {
  //
}

.card--default {
  //
}

.card__image {
  @extend .mb3;
}

.card__dialog {
  //
}

.card__labels {
  @extend .mb2;

  .label__wrapper {
    @extend .mr2;
  }
}

.card__title {
  @extend .mb2;
}

.card__description {
  //
}

.card__button {
  //
}

// Custom

.card--scroll {
  position: relative;

  .card__title {
    transition: all 0.2s ease-in-out;
    position: relative;
    @extend .ph3;
    @extend .ph2-md;
    @extend .pt2;
    @extend .pt0-md;
  }

  @include breakpoint-up(md) {
    .image {
      filter: brightness(100%);
      transform: scale(1);
    }
  }
}

@include breakpoint-up(md) {
  .card--scroll {
    .card__title {
      position: absolute;
      top: 10px;
      left: 5px;
      right: 0;
    }
    .image {
      filter: brightness(70%);
    }
  }
}

.card--offering {
  position: relative;

  .card__image,
  .card__dialog {
    cursor: pointer;
  }

  .card__dialog {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    text-align: center;
  }
}

.card--pack,
.card--creations {
  .card__image,
  .card__dialog {
    cursor: pointer;
  }
}

.card--dashboard {
  .card__button {
    margin: 0 auto;
    text-align: center;
  }
}

// Gallery

.card__gallery {
  .card__gallery__image {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  .card__gallery__title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    .card__gallery__image {
      opacity: 0.3;
    }

    .card__gallery__title {
      opacity: 1;
    }
  }
}
