$creations-white: #cccccc;

.creations {
  background-color: #1c1c1c;

  .white,
  .rpl-white {
    color: $creations-white;
    fill: $creations-white;
  }

  .rpl-bg-white,
  .bg-white {
    background-color: $creations-white;
  }

  .rich-text {
    *:not(.button):not(.button span) {
      color: $creations-white !important;
    }

    strong,
    h2 {
      // background-color: $creations-white !important;
      color: #eeeeee !important;
      // box-shadow: 2px 0 0 $creations-white, -2px 0 0 $creations-white;
    }
  }

  .button {
    color: $creations-white !important;
    border-color: $creations-white !important;
    background: transparent !important;
  }

  .button.primary {
    &:hover {
      color: var(--almost-black) !important;
      border-color: $creations-white !important;
      background: $creations-white !important;
    }
  }

  .audio__wrapper {
    border-color: $creations-white;
  }

  .audio__icon * {
    fill: var(--almost-black) !important;
  }

  .rhap_progress-indicator,
  .rhap_volume-indicator,
  .rhap_progress-filled {
    background-color: $creations-white !important;
  }

  .rhap_container {
    background-color: var(--almost-black);
  }

  .article__social-links {
    background-color: var(--almost-black);

    * {
      color: $creations-white;
    }
  }

  .article__author {
    @extend .ba;
    @extend .bw1;
    @extend .bc-almost-white;

    *:not(.label) {
      color: $creations-white;
    }
  }

  .modal__dialog {
    background-color: #1c1c1c;
  }

  // #nprogress .bar {
  //   background: var(--almost-white) !important;
  // }
  //
  // #nprogress .peg {
  //   box-shadow: 0 0 10px var(--almost-white), 0 0 5px var(--almost-white) !important;
  // }
  //
  // #nprogress .spinner-icon {
  //   border-top-color: var(--almost-white) !important;
  //   border-left-color: var(--almost-white) !important;
  // }
}

.creations__label-wrapper {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@include breakpoint-up(md) {
  .creations__label-wrapper {
    left: 100px;
    margin: auto;
    text-align: left;
  }
}
