$creations-white: #cccccc;
$creations-black: #1c1c1c;

.creations {
  background-color: $creations-black;
  --white: #cccccc;

  .rich-text {
    *:not(.button):not(.button span) {
      color: $creations-white !important;
    }

    strong,
    h2 {
      // background-color: $creations-white !important;
      color: #eeeeee !important;
      // box-shadow: 2px 0 0 $creations-white, -2px 0 0 $creations-white;
    }
  }

  .audio__wrapper {
    border-color: $creations-white;
  }

  .audio__icon * {
    fill: $creations-black !important;
  }

  .rhap_progress-indicator,
  .rhap_volume-indicator,
  .rhap_progress-filled {
    background-color: var(--white) !important;
  }

  .rhap_container {
    background-color: $creations-black;
  }

  .article__social-links {
    background-color: $creations-black;
    //
    // * {
    //   color: $creations-white;
    // }
  }

  .article__author {
    @extend .ba;
    @extend .bw1;
    @extend .bc-almost-white;

    *:not(.label) {
      color: var(--white);
    }
  }

  .tabs__body {
    background: $creations-black;
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
  }

  .tabs__desktop-nav__item {
    background-color: transparent;
    border-color: var(--white);

    * {
      color: var(--white);
      fill: var(--white);
    }
  }

  .tabs__desktop-nav__item.active {
    border-color: var(--rendah-red);
  }

  .input__wrapper {
    * {
      color: var(--white);
      fill: var(--white);
    }
  }

  .image__wrapper {
    background: var(--black);
  }
}

.creations__label-wrapper {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@include breakpoint-up(md) {
  .creations__label-wrapper {
    left: 100px;
    margin: auto;
    text-align: left;
  }
}
