$creations-white: #d9d9d9;
$creations-black: #1c1c1c;

.creations {
  background-color: $creations-black;
  --white: #d9d9d9;

  .white,
  .white {
    color: $creations-white;
    fill: $creations-white;
  }

  .bg-white,
  .bg-white {
    background-color: $creations-white;
  }

  .rich-text {
    *:not(.button):not(.button span) {
      color: $creations-white !important;
    }

    strong,
    h2 {
      color: #eeeeee !important;
    }
  }

  .button {
    color: $creations-white !important;
    border-color: $creations-white !important;
    background: transparent !important;
  }

  .button.primary {
    &:hover {
      color: var(--almost-black) !important;
      border-color: $creations-white !important;
      background: $creations-white !important;
    }
  }

  .audio__wrapper {
    border-color: $creations-white;
  }

  .audio__icon * {
    fill: $creations-black !important;
  }

  .rhap_progress-indicator,
  .rhap_volume-indicator,
  .rhap_progress-filled {
    background-color: var(--white) !important;
  }

  .rhap_container {
    background-color: $creations-black;
  }

  .article__social-links {
    * {
      color: $creations-white;
    }

    svg {
      fill: $creations-white;
    }
  }

  .article__author {
    @extend .ba;
    @extend .bw1;
    @extend .bc-almost-white;

    *:not(.label) {
      color: var(--white);
    }
  }

  // .tabs__mobile-nav__item {
  //   background: transparent;
  //   border: 1px solid var(--white);
  // }

  // .tabs__body {
  //   background: $creations-black;
  //   border: 0px;
  // }

  // @include breakpoint-up(md) {
  //   .tabs__body {
  //     border-top: 1px solid var(--white);
  //     border-left: 1px solid var(--white);
  //     border-right: 1px solid var(--white);
  //   }
  // }

  // .tabs__desktop-nav__item {
  //   background-color: transparent;
  //   border-color: var(--white);

  //   * {
  //     color: var(--white);
  //     fill: var(--white);
  //   }
  // }

  // .tabs__mobile-nav__item__title {
  //   color: var(--white);
  // }

  // .tabs__body__item .tabs__mobile-nav__item {
  //   &::after {
  //     background-image: url("data:image/svg+xml,%3Csvg fill='%23cccccc' xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'%3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3E%3C/svg%3E");
  //   }
  // }

  // .tabs__mobile-nav__item__icon path {
  //   fill: var(--white);
  // }

  // .tabs__desktop-nav__item.active {
  //   border-color: var(--rendah-red);
  // }

  .input__wrapper {
    * {
      color: var(--white);
      fill: var(--white);
    }
  }

  .checkbox__label {
    color: var(--white);
  }

  .modal__dialog {
    background-color: #1c1c1c;
  }

  .rhap_button-clear path {
    fill: var(--white);
  }

  .rhap_current-time {
    color: var(--white);
  }

  .audio__title {
    color: var(--white);
  }

  .checkbox__control .checkbox__input:checked ~ .checkbox__indicator {
    background: transparent;
  }

  .checkbox__indicator {
    background: transparent;
    border: 1px solid var(--white);
  }

  .input__label {
    opacity: 0.5;
  }

  .modal__dialog {
    border: 1px solid
      rgba(
        red($creations-white),
        green($creations-white),
        blue($creations-white),
        0.5
      );
  }

  .subscribe-banner__input {
    border-color: $creations-white;

    &::placeholder {
      color: $creations-white;
    }
  }

  .card--post {
    .card__title,
    .card__title * {
      color: var(--white);
    }
  }
}

.creations__label-wrapper {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@include breakpoint-up(md) {
  .creations__label-wrapper {
    left: 100px;
    margin: auto;
    text-align: left;
  }
}
