.min {
  min-height: 500px;
}

// Carousel

.dominion__carousel {
  opacity: 0;
  animation: fade-in 0.3s forwards;
  animation-delay: 0.3s;
}

.dominion-carousel-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  margin: 0 auto;
  min-height: 300px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

// @include breakpoint-up(md) {
//   .dominion-carousel-wrapper {
//     top: 0;
//     width: 100%;
//   }
// }

.dominion-carousel-wrapper.dominion-fadeIn {
  opacity: 1;
  transform: translateX(0px);
}

.dominion-carousel-wrapper.dominion-fadeOut {
  opacity: 0;
  transform: translateX(-50px);
}

// Sectiom

.dominion-section {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(50px);
}

.dominion-section.dominion-fadeIn {
  opacity: 1;
  transform: translateX(0px);
}

.dominion-section.dominion-fadeOut {
  opacity: 0;
  transform: translateX(50px);
}

// General

.dominion-canDisplay {
  display: block;
  opacity: 0;
}

//

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: var(--black);
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: var(--grey);
}

//

.carousel-arrow--left {
  position: absolute;
  top: 35%;
  left: -25px;
  cursor: pointer;
}

@include breakpoint-up(md) {
  .carousel-arrow--left {
    left: -30px;
  }
}

.carousel-arrow--right {
  position: absolute;
  top: 35%;
  right: -25px;
}

@include breakpoint-up(md) {
  .carousel-arrow--right {
    right: -30px;
  }
}

.dominion-modal-wrapper--offerings {
  .col-6 {
    flex: 0 0 0%;
    max-width: 0%;
  }

  .col-12-md {
    @extend .col-24-md;
  }
}
