// Header (All)

.header__logo {
  cursor: pointer;
}

.header__logo svg g {
  transition: fill 0.3s ease-in-out;
}

// Nav (All)

.nav__item .button {
  opacity: 1;
  animation: none;
}

// Desktop

.header--desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  background-color: transparent;
  z-index: 10;

  .header__logo {
    background-color: var(--white);
    width: 42px;
    top: 20px;
    left: 20px;
    z-index: 999;
    @extend .absolute;

    &::before {
      position: absolute;
      content: '';
      background-color: var(--white);
      top: 0;
      left: -50px;
      height: 70px;
      width: 130px;
      z-index: -1;
    }
  }

  .nav ul .nav__item:first-of-type {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: var(--rendah-red);
      top: 10px;
      right: calc(100% + 30px);
      height: 2px;
      width: 100vw;
    }
  }
}

// Mobile

.header--mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  background-color: transparent;
  z-index: 10;

  .header__burger {
    background-color: transparent;
    top: 20px;
    left: 15px;
    @extend .absolute;
  }

  .header__logo {
    width: 33px;
    top: 17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    @extend .absolute;
  }
}

.header--mobile > .nav {
  transition: all 0.5s cubic-bezier(0.985, 0.33, 0.155, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  transform: translateX(-100vw);
}

.header--mobile.collapsed > .nav {
  transform: translateX(0);
}

.header--mobile > .nav {
  .button.large {
    font-size: 1.8rem;
  }
}

// Page transition

.page-transition-exit-active {
  .header.nav-on-white {
    .header__logo svg *,
    .header__burger * {
      fill: var(--white);
      transition-duration: 0s;
      transition-delay: 0.3s;
    }

    .nav__item .button {
      color: var(--white);
      fill: var(--white);
      transition-duration: 0s;
      transition-delay: 0.3s;
    }
  }

  .header:not(.nav-on-white) {
    .header__logo svg *,
    .header__burger * {
      fill: var(--black);
      transition-duration: 0s;
    }

    .nav__item .button {
      color: var(--black);
      fill: var(--black);
      transition-duration: 0s;
    }
  }
}
