.hero {
  width: 100%;
  position: relative;
  overflow: hidden;

  .image__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

.hero__dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  @extend .pa4;
  @extend .measure-wide;
}

.hero__title {
  max-width: 400px;
}

.hero__description {
  @extend .f5;
  @extend .lh-copy;
}

.hero__button {
  //
}

.hero__image {
  //
}

// Modifiers

.hero--darken-all {
  .image__wrapper {
    .image {
      filter: brightness(65%);
    }
  }
}

.hero--darken-top {
  background-color: var(--black);

  .hero__image {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(125, 125, 125, 1) 0%,
      rgba(125, 125, 125, 1) 85%,
      rgba(139, 139, 139, 0) 99.9%,
      rgba(255, 255, 255, 0) 100%
    );

    mask-image: linear-gradient(
      to top,
      rgba(125, 125, 125, 1) 0%,
      rgba(125, 125, 125, 1) 85%,
      rgba(139, 139, 139, 0) 99.9%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.hero--home {
  height: 100vh;
  max-height: 100vh;
  @extend .hero--darken-all;
}

.hero--creations {
  @extend .br4;
  @extend .shadow2;
}

.hero--cypher {
  @extend .hero--darken-all;
}

.hero--article {
  @extend .hero--darken-top;
}
