.hero {
  width: 100%;
  position: relative;

  .image__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

.hero__dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  @extend .pa4;
  @extend .measure-wide;
}

.hero__title {
  max-width: 400px;
}

.hero__description {
  @extend .pt3;
  @extend .f5;
  @extend .lh-copy;
}

.hero__button {
  @extend .pt3;
}

.hero__image {
  height: 100%;
}

// Modifiers

.hero--darken-all {
  .image__wrapper {
    .image {
      filter: brightness(65%);
    }
  }
}

.hero--darken-top {
  background-color: var(--black);

  .hero__image {
    -webkit-mask-image: linear-gradient(
      to top,
      #7d7d7d 0%,
      #7d7d7d 85%,
      rgb(139 139 139 / 38%) 102%,
      rgb(255 255 255 / 0%) 100%
    );

    mask-image: linear-gradient(
      to top,
      #7d7d7d 0%,
      #7d7d7d 85%,
      rgb(139 139 139 / 38%) 102%,
      rgb(255 255 255 / 0%) 100%
    );
  }
}

.join-left {
  white-space: nowrap;
  z-index: 9;
  position: absolute;
  top: 200px;
  left: 50px;
  margin: 0;
  max-width: 300px;
  color: var(--white);
  font-size: 50px;
  @extend .t-primary;
  font-weight: bold;
  line-height: 1;
}

.join-left {
  mix-blend-mode: overlay;
  max-width: 100%;
  overflow: unset;
  text-overflow: unset;
  color: var(--white);
  z-index: 10;
}

@include breakpoint-up(md) {
  .join-left {
    left: 50px;
    font-size: 90px;
  }

  .join-left {
    max-width: 161px;
    color: var(--white);
    z-index: 10;
    height: 400px;
  }
}

.lines {
  position: relative;
  z-index: -1;

  &:before {
    position: absolute;
    color: var(--rendah-red);
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '////';
    font-size: 350px;
    text-align: center;
    display: none;

    @include breakpoint-up(md) {
      display: block;
    }
  }
}

.hero--home {
  z-index: 1;
  @extend .hero--darken-top;

  position: relative;
  height: 80vh !important;

  @include breakpoint-up(md) {
    height: 100vh !important;
  }

  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    animation: bounce 1.5s infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  img {
    filter: brightness(0.3);
  }

  .hero__image,
  .image__wrapper,
  .image {
    height: 80vh !important;

    @include breakpoint-up(md) {
      height: 100vh !important;
    }
  }

  .hero__image .image__wrapper {
    // @extend .shadow2;
  }

  .hero__dialog {
    transform: translateX(-20px) translateY(-120px);
    * {
      text-align: right;
    }

    .hero__title,
    .hero__description,
    .hero__button {
      // background-color: var(--almost-white);
    }
  }
}

.hero--creations {
  @extend .br4;
  @extend .shadow2;
}

.hero--cypher {
  @extend .hero--darken-all;
}

.hero--article {
  // @extend .hero--darken-top;
}

.category-label {
  position: absolute;
  opacity: 0.5;
  text-align: center;
  font-family: $archive;
  color: var(--rendah-red);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.category-label--interviews {
  top: -35px;
  font-size: 55px;
}

.category-label--premieres {
  top: -38px;
  font-size: 58px;
}

.category-label--news-insights {
  top: -20px;
  font-size: 37px;
}

.category-label--guest-mix {
  top: -30px;
  font-size: 50px;
}

@include breakpoint-up(md) {
  .category-label--interviews {
    top: 280px;
    left: -330px;
    right: auto;
    transform: rotate(-90deg);
    font-size: 90px;
  }

  .category-label--premieres {
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    font-size: 100px;
  }

  .category-label--news-insights {
    top: 330px;
    left: -280px;
    right: auto;
    transform: rotate(-90deg);
    font-size: 55px;
  }

  .category-label--guest-mix {
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    font-size: 100px;
  }
}

.fff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fff2 {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out 1s forwards;
}

.fff3 {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out 1.75s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
