.hero {
  width: 100%;
  position: relative;
  overflow: hidden;

  .image__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

.hero__dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  @extend .pa4;
  @extend .measure-wide;
}

.hero__title {
  //
}

.hero__description {
  @extend .f5;
  @extend .lh-copy;
}

.hero__button {
  //
}

.hero__image {
  //
}
