.hero {
  width: 100%;
  position: relative;
  overflow: hidden;

  .image__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

.hero__dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  @extend .pa4;
  @extend .measure-wide;
}

.hero__title {
  max-width: 400px;
}

.hero__description {
  @extend .pt3;
  @extend .f5;
  @extend .lh-copy;
}

.hero__button {
  @extend .pt3;
}

.hero__image {
  height: 100%;
}

// Modifiers

.hero--darken-all {
  .image__wrapper {
    .image {
      filter: brightness(65%);
    }
  }
}

.hero--darken-top {
  background-color: var(--black);

  .hero__image {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(125, 125, 125, 1) 0%,
      rgba(125, 125, 125, 1) 85%,
      rgba(139, 139, 139, 0) 99.9%,
      rgba(255, 255, 255, 0) 100%
    );

    mask-image: linear-gradient(
      to top,
      rgba(125, 125, 125, 1) 0%,
      rgba(125, 125, 125, 1) 85%,
      rgba(139, 139, 139, 0) 99.9%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.hero--home {
  height: 75vh;
  max-height: 75vh;
  @extend .hero--darken-all;

  .hero__button {
    @extend .pt1;
  }
}

.hero--creations {
  @extend .br4;
  @extend .shadow2;
}

.hero--cypher {
  @extend .hero--darken-all;
}

.hero--article {
  @extend .hero--darken-top;
}



.category-label {
  position: absolute;
  opacity: 0.5;
  text-align: center;
  font-family: $archive;
  color: var(--rendah-red);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.category-label--interviews {
  top: -29px;
  font-size: 43px;
}

.category-label--premieres {
  top: -29px;
  font-size: 43px;
}

.category-label--news-insights {
  top: -16px;
  font-size: 28px;
}

.category-label--guest-mix {
  top: -24px;
  font-size: 38px;
}

@include breakpoint-up(md) {
  .category-label--interviews {
    top: 280px;
    left: -330px;
    right: auto;
    transform: rotate(-90deg);
    font-size: 90px;
  }

  .category-label--premieres {
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    font-size: 100px;
  }

  .category-label--news-insights {
    top: 330px;
    left: -280px;
    right: auto;
    transform: rotate(-90deg);
    font-size: 55px;
  }

  .category-label--guest-mix {
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    font-size: 100px;
  }
}
