.www {
  width: 200px;
  height: 260px;
}

.profile__dominion__carousel-item__wrapper {
  height: 260px;
}

.profile__dominion__carousel-item {
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__dominion__carousel-item__modal-content {
  max-height: 70vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.profile_heading {
  @extend .mb3;
}

.filter-tag {
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @extend .ml2;
  @extend .ml0-md;
  @extend .mr2;
  @extend .mr3-md;
  @extend .ph2;
  @extend .ph3-md;
  @extend .pv1;
  @extend .f6;
  @extend .br-pill;

  &:hover {
    background-color: var(--dark-grey);
  }
}

.filter-tag.is-active {
  background: var(--white);
  color: var(--black);
}
