.rich-text {
  @extend .taj;
}

.rich-text__product {
  .col-6 {
    display: none;
  }

  @include breakpoint-up(md) {
    .col-12-md {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.rich-text p,
.rich-text ul,
.rich-text ol,
.rich-text blockquote {
  @extend .t-secondary;
  @extend .lh-copy;
  @extend .f6;
  @extend .f5-md;
  @extend .pb3;
}

.rich-text p:empty {
  display: none;
}

.rich-text ul,
.rich-text ol {
  @extend .ml3;
}

.rich-text li {
  @extend .t-secondary;
  @extend .lh-copy;
  @extend .f6;
  @extend .f5-md;
  @extend .pb3;
}

.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  @extend .t-primary;
  @extend .lh-title;
  @extend .pb3;
}

.rich-text h6 {
  @extend .f5;
}
.rich-text h5 {
  @extend .f4;
}
.rich-text h4 {
  @extend .f4;
}
.rich-text h3 {
  @extend .f4;
}
.rich-text h2 {
  @extend .f4;
}

.rich-text a:not(.button) {
  color: var(--black);
  text-decoration: underline;
}

.rich-text br {
  display: none;
}
