.subscribe-banner {
  //
}

.subscribe-banner__input {
  box-shadow: 0;
  outline: 0;
  border-radius: 0;

  @extend .f7;
  @extend .f6-md;
  @extend .w5-md;
  @extend .pa2;
  @extend .ba;
  @extend .bc-black;

  &::placeholder {
    color: var(--black);
    opacity: 1;
  }
}

.subscribe-banner__submit .button {
  border-radius: 0;
}
